
{% extends "base.html" %}

{% block title %} Setting {% endblock %}

{% block content %}



<main class="setting-page">
    <div class="heading">
            <h2>Dashboard settings</h2>
            <hr class="heading-hr">
    </div>
    <div class="setting-content">
        <div class="card card-setting">
            <div class="card-body card-body-setting">
                <p>Choose Theme </p>
              

              <div class="dropdown">

                <span class="dot dot-color1"></span>
                <span class="dot dot-color2"></span>
                <span class="dot dot-color3"></span>
                <span class="dot dot-color4"></span>
                <span class="dot dot-color5"></span>
               
              </div>
            </div>
            
           
          </div>

          <div class="card card-setting">
            <div class="card-body">
                Setting to be added
            </div>
          </div>

          <div class="card card-setting">
            <div class="card-body">
                Setting to be added
            </div>
          </div>

          <div class="card card-setting">
            <div class="card-body">
                Setting to be added
            </div>
          </div>

          <div class="card card-setting">
            <div class="card-body">
                Setting to be added
            </div>
          </div>

          <button class="btn btn-dark">Reset to default</button>

    </div>

  </main>

{% endblock %}