{% extends "base.html" %}

{% block title %}Submit Event{% endblock %}

{% block content %}

<div class="main">
    <div class="user-main -main" style="min-height: 90vh;">
        <form class="user-form-container" method="POST" action="{{ url_for('register') }}">
            {{ form.hidden_tag() }}
            <div>
                <div class="user-heading">
                    <h4 style="margin-left:3%; margin-top:10px ;color: brown;">User registration</h4>
                </div>
               
                <hr>
                <div class="form-field">
                    <label for="name">{{ form.name.label }}</label> :
                {{ form.name(size=320) }}
                    {% for error in form.name.errors %}
                        <span style="color: red; padding-left: 20%;" >*{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-field">
                    <label for="email">{{ form.email.label }}</label> :
                   {{ form.email(size=32) }}
                    {% for error in form.email.errors %}
                    <span style="color: red; padding-left: 20%;" >*{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-field">
                    <label for="password">{{ form.password.label }}</label> :
              {{ form.password(size=32) }}
                    {% for error in form.password.errors %}
                    <span style="color: red; padding-left: 20%;" >*{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-field">
                    <label for="confirm_password">{{ form.confirm_password.label }}</label> :
                   {{ form.confirm_password(size=32) }}
                    {% for error in form.confirm_password.errors %}
                    <span style="color: red; padding-left: 20%;" >*{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-field">
                    <label for="department">{{ form.department.label }}</label> :
                    {{ form.department }}
                    {% for error in form.department.errors %}
                        <span style="color: red; padding-left: 20%;">*{{ error }}</span>
                    {% endfor %}
                </div>
            
            </div>
            <div class="submit-button">
                <!-- Use Bootstrap button markup -->
                <button class="btn btn-info" type="submit">{{ form.submit.label }}</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
